<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Service.LoadBalancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Service.LoadBalancer.Properties.Settings>
            <setting name="S1" serializeAs="String">
                <value>http://localhost:22222/simulation</value>
            </setting>
            <setting name="S2" serializeAs="String">
                <value>http://localhost:33333/simulation</value>
            </setting>
            <setting name="AdminMail" serializeAs="String">
                <value>vkocjancic@gmail.com</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>mail.server.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>pwd</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value>vkocjancic@gmail.com</value>
            </setting>
            <setting name="UriEndpoint" serializeAs="String">
                <value>http://localhost:11111/simulation</value>
            </setting>
        </Service.LoadBalancer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>